@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html{
   color: #24305f;
}

body{
    background-color: #fffdfb;
}

.accordian{
    width: 50%;
    margin: 12.2rem auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item{
    box-shadow: 0 0 1.875rem 0 rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1.875rem;
    align-items: center;
    padding: 1.875rem;
    cursor: pointer;
    border-radius: 5px;
}

.number{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.icon{
    color:#1864ab;
    width:  1.5rem;
    height: 1.5rem;
}

.hidden-box{
    grid-column: 2/3;
    display: none;
}

.hidden-box p{
    line-height: 1.6;
    margin-bottom: 1.5rem;
    letter-spacing: 0.5px;
    word-spacing: 3xp;
}

.hidden-box ul{
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.hidden-box p ul li{
    line-height: 1.5;
    margin-left: 1.5rem;
    letter-spacing: 0.5px;
    word-spacing: 3xp;
    font-size: 20px;
}

.active .hidden-box{
    display: block;
}